__pycache__/
*.pyc
*.pyo
*.pyd

nanochat_data/base_checkpoints/
nanochat_data/chatsft_checkpoints/
nanochat_data/sft_data/
nanochat_data/tokenizer/token_bytes.pt

*.pt
*.pth
*.bin
*.arrow

wandb/
.runs/

*.log
*.lock

interview-docs-v2/

.ipynb_checkpoints/
*.egg-info/
dist/
build/
